@import '@base/breakpoints';

.cs-group{
    padding:100px 0 0 0;
}
.cs-posts{
    margin-top:47px;
}
.cs-lm-row{
    margin-top:16px;
}
@media screen and (max-width: $breakpoint-1100) {
    .cs-posts {
        margin-top: 25px;
    }
    .cs-group {
        padding-top: 60px;
    }
}
@media screen and (max-width: $breakpoint-750) {
    .cs-group {
        padding-top: 25px;
    }
}