$breakpoint-1300: 1300px;
$breakpoint-1250: 1250px;
$breakpoint-1100: 1100px;
$breakpoint-1000: 1000px;
$breakpoint-850: 850px;
$breakpoint-750: 750px;
$breakpoint-660: 660px;
$breakpoint-600: 600px;
$breakpoint-550: 550px;
$breakpoint-500: 500px;
$breakpoint-479: 479px;
$breakpoint-390: 390px;
$breakpoint-380: 380px;
$breakpoint-370: 370px;
$breakpoint-350: 350px;
$breakpoint-360: 360px;
$breakpoint-319: 319px;