@import '@base/colors';
@import "@base/breakpoints";

.quote-fm-popup{
    position: fixed;
    left: 0;
    right: 0;
    z-index:20;
    -webkit-overflow-scrolling: touch;
    background: $color-white;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
    top: 0;
    padding:45px 0 0 0;
    height: calc(100% - 45px);
    &.hidden{
        opacity: 0;
        pointer-events: none;
    }
    &.visible{
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }
}
.qt-fm-pp-wrap{
    h6{
        color: $color-dark-blue;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        text-transform: uppercase;
    }
}
.fm-wrap-main{
    height: 93vh;
    overflow: auto;
    margin-top: -25px;
    &::-webkit-scrollbar{
        width:3px;
    }
    &::-webkit-scrollbar-thumb{
        background: $color-dark-blue;
        border-radius: 0;
    }
    &::-webkit-scrollbar-track {
        width:1px;
        background: $color-grey6;
    }
}
.qw-pp-ct{
    cursor: pointer;
    background: $color-white;
    padding: 0 0 4px 4px;
    z-index: 1;
}
.pp-cats-row{
    margin-top:15px;
}
.pp-cat{
    border-radius: 25px;
    border: 1px solid $color-grey5;
    width:168px;
    height:36px;
    color: rgba(22, 22, 22, 0.50);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right:13px;
    margin-bottom:10px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    &:nth-child(3n){
        margin-right:0;
    }
    &.selected {
        background: $color-pink;
        color:$color-white;
        border: 1px solid $color-pink;
    }
}
.qt-fm-pp-wrapper{
    width:540px;
}
.qt-fm{
    margin-top:10px;
    input:not([type="file"]){
        width:100%;
        padding:15px 0;
        border:none;
        font-size: 18px;
        font-weight: 700;
        border-bottom:1px solid $color-grey6;
        background: none;
        color: $color-dark-blue;
        font-family: inherit;
        &::-webkit-input-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &:-moz-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &::-moz-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &:-ms-input-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
    }
    textarea{
        border:none;
        font-size: 18px;
        font-weight: 700;
        border-bottom:1px solid $color-grey6 !important;
        background: none;
        color: $color-dark-blue;
        width: 100%;
        border: none;
        resize: none;
        height: 90px;
        padding:15px 15px 15px 0;
        box-sizing: border-box;
        font-family: inherit;
        &::-webkit-input-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &:-moz-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &::-moz-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &:-ms-input-placeholder{
            text-transform: uppercase;
            color: $color-grey6;
        }
        &::-webkit-scrollbar{
            width:3px;
        }
        &::-webkit-scrollbar-thumb{
            background: $color-dark-blue;
            border-radius: 0;
        }
        &::-webkit-scrollbar-track {
            width:1px;
            background: $color-grey6;
        }
    }
}
.qt-file-field{
    margin-top:13px;
    position: relative;
    cursor: pointer;
    input{
        position: absolute;
        width:100%;
        height:100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        font-family: inherit;
    }
    span.qt-file-name{
        color: $color-black;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: 10px;
        text-transform: uppercase;
        width: 225px;
    }
}
.qt-file-icon{
    width:21px;
    height:21px;
    border-radius: 100%;
    background: $color-dark-blue;
    margin-right:5px;
}
.qt-form-sb{
    margin-top:30px;
    margin-bottom: 30px;
    button{
        border: none;
        background: $color-dark-blue;
        color: $color-grey;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 25px;
        width:210px;
        height: 50px;
        font-family: inherit;
        cursor: pointer;
        flex-shrink:0;
        &.disabled{
            cursor: not-allowed !important;
            opacity: 0.4;
        }
    }
}

.btn-arr{
    margin-left:15px;
    svg{
        path{
            stroke: $color-white;
        }
    }
}
.qt-field{
    position: relative;
}
.err-msg{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    color: $color-pink;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    &.err-msg-txt{
        bottom:20px;
    }
}
.invalid{
    input:not([type="file"]){
        color: rgba(157, 157, 157, 0.10);
    }
    .err-msg{
        opacity: 1;
        -ms-filter: "alpha(opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        visibility: visible;
    }
}
.qt-file-err{
    color: $color-pink;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    margin-left: 26px;
    margin-top: 5px;
    display:none;
    &.show{
        display:block;
    }
}
.qt-sc-msg{
    opacity:0;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
    &.show{
        opacity:1;
    }
    p{
        color: $color-dark-blue;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        margin:0;
    }
}
@media screen and (max-width: $breakpoint-1100) {
    .qt-fm-pp-wrap {
        h6 {
            font-size: 35px;
            line-height: 42px;
        }
    }
}
@media screen and (min-width: $breakpoint-1100) {
    .pp-cat{
        &:hover{
            background: $color-pink;
            color:$color-white;
            border: 1px solid $color-pink;
        }
    }
}
@media screen and (max-height: 600px) {
    .fm-wrap-main{
        height: 90vh;
    }
}
@media screen and (max-width: $breakpoint-850) {
    .qt-fm-pp-wrap {
        h6 {
            font-size: 25px;
            line-height: 30px;
        }
    }
    .qt-field input:not([type=file]), .qt-field textarea {
        font-size: 18px;
    }
    .qt-field textarea {
        height: 130px;
    }
}
@media screen and (max-width: $breakpoint-750) {
    .qt-fm-pp-wrapper {
        width: 96%;
    }
    .pp-cat {
        width: 32%;
        margin-right: 1.5%;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 5px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: $breakpoint-660) {
    .err-msg {
        width: 130px;
    }
    .qt-sc-msg{
        width: 100%;
        margin-top: 10px;
    }
}
@media screen and (max-width: $breakpoint-479) {
    .quote-fm-popup{
        padding-top:30px;
        height: calc(100% - 30px);
    }
    .err-msg {
        width: 82px;
    }
    .pp-cat, .pp-cat:nth-child(3n) {
        width: 48%;
        margin-right: 2%;
    }
    .pp-cat:nth-child(2n), .pp-cat:last-child {
        margin-right: 0;
    }
    .ct-file-field svg {
        width: 18px;
        height: auto;
    }
}
@media screen and (max-width: $breakpoint-350) {
    .qt-sc-msg{
        p{
            font-size: 13px;
        }
    }
}